<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>CSCB20 Course Marks</title>
    </head>
    <body>
        <div class="container" id="header">
            <h1 id="title">CSCB63 -- Design and Analysis of Data Structures</h1>
        </div>
        <div class="container" id="nav">
            <input type="checkbox" value="dropdown" id="dropdown" checked/>
            <div id="dropdown-container"></div>
            <div id="links" class="flex">
                <a href="/">Home</a>
                <a href="/news">News</a>
                <a href="/office-hours">Office Hours</a>
                <a href="/lectures">Lectures</a>
                <a href="/assignments">Assignments</a>
                <a href="/labs">Labs</a>
                <a href="/tutorials">Tutorials</a>
                <a href="/tests">Tests</a>
                <a href="/course-team">Course Team</a>
                <a href="/feedback">Feedback</a>
                <a href="/links">Links</a>
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="container pad" id="content">
            <p>Click <a href="/enter-mark">here</a> to input student marks.</p>
            <h1>Course Marks</h1>
            <div id="grades-grid" class="grid">
                <div><strong>Username</strong></div>
                <div><strong>Assignment</strong></div>
                <div><strong>Mark</strong></div>
                <div><strong>Remark Request</strong></div>
                <div><strong>Remark Status</strong></div>
                {% for item in grade %}
                    <div>{{item['username']}}</div>
                    <div>{{item['assignment_id']}}</div>
                    <div>{{item['mark']}} <a href="/edit-mark?username={{ item['username'] }}&assignmentid={{ item['assignment_id'] }}">(Edit)</a></div>
                    <div>{{item['remark_request']}}</div>
                    <div>{{item['remark_status']}}</div>
                {% endfor %}
            </div>
        </div>

        <div id="footer" class="container">
            <a href="https://web.cs.toronto.edu/" target="_blank"><p>Faculty of Computer Science at UofT</p></a>
            <p id="mark">Site designed by Artem Petrishchev, Justin Ding, and Kenneth Tran</p>
        </div>
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <!-- Process any flashed messages by passing it as a parameter to handleMessage in script.js -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <script>handleMessage('{{ message }}');</script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>