<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>CSCB20 Login</title>
    </head>
    <body>
        <div class="container" id="header">
            <h1 id="title">CSCB63 -- Design and Analysis of Data Structures</h1>
        </div>
        <div class="authenticate-form">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <br>
                <input type="text" name="username">
                <br>

                <label for="password">Password</label>
                <br>
                <input type="password" name="password">

                <div class="pad"></div>
                <button type="submit" value="submit">Login</button>

                <div class="pad"></div>
                <a href="create-account">Create an account</a>
            </form>
        </div>
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <!-- Process any flashed messages by passing it as a parameter to handleMessage in script.js -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <script>handleMessage('{{ message }}');</script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>