<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>CSCB20 Profile Page</title>
    </head>
    <body>
        <div class="container" id="header">
            <h1 id="title">CSCB63 -- Design and Analysis of Data Structures</h1>
        </div>
        <div class="container" id="nav">
            <input type="checkbox" value="dropdown" id="dropdown" checked/>
            <div id="dropdown-container"></div>
            <div id="links" class="flex">
                <a href="/">Home</a>
                <a href="/news">News</a>
                <a href="/office-hours">Office Hours</a>
                <a href="/lectures">Lectures</a>
                <a href="/assignments">Assignments</a>
                <a href="/labs">Labs</a>
                <a href="/tutorials">Tutorials</a>
                <a href="/tests">Tests</a>
                <a href="/course-team">Course Team</a>
                <a href="/feedback">Feedback</a>
                <a href="/links">Links</a>
                <a href="/profile" id="active-page">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="container pad" id="content">
            {% if session['accounttype'] == 'student' %}
            <h1>{{ session['firstname'] }} {{ session['lastname'] }}'s Grades</h1>
            <div id="grades-grid" class="grid">
                <!-- Row 1 - Header -->
                <div><b>Assignment Name</b></div>
                <div><b>Mark</b></div>
                <div><b>Remark Status</b></div>
                <div><b>Remark Request</b></div>
                <div><b>Link to Request Remark</b></div>

                {% for grade in grades %}
                    <div><p>{{ grade['assignment_id'] }}</p></div>
                    <div><p>{{ grade['mark'] }}</p></div>
                    <div><p>{{ grade['remark_status'] }}</p></div>
                    <div><p>{{ grade['remark_request'] }}</p></div>
                    <div>
                        {% if grade['remark_status'] == 'Remarked' %}
                        <p class='grey'>Already Remarked</p>
                        {% elif grade['remark_status'] == 'Pending' %}
                        <p class='grey'>Already Requested</p>
                        {% else %}
                        <p><a href="/request-remark/{{ grade['assignment_id'] }}">Request Remark</a></p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div>
                <h2>Username: {{ session['username'] }}</h2>
                <h2>Account Type: {{ session['accounttype'] }}</h2>
            </div>
            {% elif session['accounttype'] == 'instructor' %}
            <h1>{{ session['firstname'] }} {{ session['lastname'] }}'s Profile</h1>
            <br>
            <h2>Username: {{ session['username'] }}</h2>
            <h2>Account Type: {{ session['accounttype'] }}</h2>
            <p>Click <a href="/feedback">here</a> to see feedback from your students.</p>
            <p>Click <a href="/course-marks">here</a> to see grades and remark requests.</p>
            <p>Click <a href="/student-names">here</a> to see all student names.</p>
            {% endif %}
        </div>
        <div id="footer" class="container">
            <a href="https://web.cs.toronto.edu/" target="_blank" id="dept-cs"><p>Faculty of Computer Science at UofT</p></a>
            <p id="mark">Site designed by Artem Petrishchev, Justin Ding, and Kenneth Tran</p>
        </div>
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <!-- Process any flashed messages by passing it as a parameter to handleMessage in script.js -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <script>handleMessage('{{ message }}');</script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>